



<div class="card" style="width: 70rem">
  <img
    class="card-img-top"
    src="../../assets/Green%20and%20Orange%20St.%20Patrick's%20Day%20Greeting%20Card.jpg" alt="">

  <!--<div class="card-body">-->
    <!--<button-->
      <!--class="col-2"-->
      <!--(click)="goProducts()"-->
      <!--class="button">Continue Shopping</button>  </div>-->
</div>

<!--<div class="card bg-dark text-white">-->
  <!--<img class="card-img" src="../../assets/new%20thank%20you%20order.jpg" alt="Card image">-->
  <!--<div class="card-img-overlay">-->

    <!--<p class="card-text card-body align-bottom">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
    <!--<p class="card-text card-footer">Last updated 3 mins ago</p>-->
  <!--</div>-->
<!--</div>-->
