
.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

#checkoutBtn {
  background-color: #c1d62e;
  border-color: #c1d62e;
  color: white;
}

.clearBtn {
  cursor: pointer;
}
