
<div class="segment" style="font-family: 'Sniglet', cursive;">
  <img class="img-fluid" src="https://images.pexels.com/photos/952353/pexels-photo-952353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <div class="container">
    <h3>
      Make Cooking Easier at HOME During COVID 19
    </h3>
    <h4>

      Based on
    </h4>
    <h1><a id="artificial">Work</a> Cook From Home.</h1>
    <div class="hidden divider"></div>
    <button
      (click)="goProduct()"
      class="btn btn-lg fw-bold button hvr-icon-grow">
      Get Started <i class="far fa-lemon hvr-icon"></i>
    </button>
    <div class="footer">
      <h3>Don't panic! It's organic!</h3>
    </div>
  </div>

</div>
